<h3 class="lead">Daftar Pengajar ISTPI</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nama</th>
      <th>NIDN</th>
      <th>Fakultas</th>
      <th>Jurusan</th>
      <th>Alamat</th>
      <th>No kontak</th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= link_to lecture.name, lecture %></td>
        <td><%= lecture.nidn %></td>
        <td><%= lecture.fakultas %></td>
        <td><%= lecture.jurusan %></td>
        <td><%= lecture.alamat %></td>
        <td><%= lecture.no_kontak %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
