<p id="notice"><%= notice %></p>

<h3 class="lead">Daftar Pengajar ISTPI</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Nama</th>
      <th>NIDN</th>
      <th>Fakultas</th>
      <th>Jurusan</th>
      <th>Alamat</th>
      <th>No kontak</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td><%= link_to lecture.name, lecture %></td>
        <td><%= lecture.nidn %></td>
        <td><%= lecture.fakultas %></td>
        <td><%= lecture.jurusan %></td>
        <td><%= lecture.alamat %></td>
        <td><%= lecture.no_kontak %></td>
        <td><%= link_to 'Edit', edit_lecture_path(lecture) %></td>
        <td><%= link_to 'Hapus', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Buat Pengajar', new_lecture_path, class: "btn btn-default" %><br>
