
<p>
  <strong>Nama:</strong>
  <%= @lecture.name %>
</p>

<p>
  <strong>NIDN:</strong>
  <%= @lecture.nidn %>
</p>

<p>
  <strong>Fakultas:</strong>
  <%= @lecture.fakultas %>
</p>

<p>
  <strong>Jurusan:</strong>
  <%= @lecture.jurusan %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @lecture.alamat %>
</p>

<p>
  <strong>No kontak:</strong>
  <%= @lecture.no_kontak %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
