<p id="notice"><%= notice %></p>

<h1>Listing Classtimes</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classtimes.each do |classtime| %>
      <tr>
        <td><%= classtime.time %></td>
        <td><%= link_to 'Show', classtime %></td>
        <td><%= link_to 'Edit', edit_classtime_path(classtime) %></td>
        <td><%= link_to 'Destroy', classtime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classtime', new_classtime_path %>
