<p id="notice"><%= notice %></p>

<p>
  <strong>Civil subject:</strong>
  <%= @civilschedulesubject.civil_subject_id %>
</p>

<p>
  <strong>Lecture1:</strong>
  <%= @civilschedulesubject.lecture1_id %>
</p>

<p>
  <strong>Lecture2:</strong>
  <%= @civilschedulesubject.lecture2_id %>
</p>

<p>
  <strong>Lecture3:</strong>
  <%= @civilschedulesubject.lecture3_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @civilschedulesubject.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @civilschedulesubject.time_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @civilschedulesubject.year_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @civilschedulesubject.room_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @civilschedulesubject.count %>
</p>

<%= link_to 'Edit', edit_civilschedulesubject_path(@civilschedulesubject) %> |
<%= link_to 'Back', civilschedulesubjects_path %>
