<%= simple_form_for([:admin, @civil_subject]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code, label: 'Kode' %>
    <%= f.input :name, label: 'Mata Kuliah' %>
    <%= f.input :credit, label: 'Jumlah Kredit', collection:['1','2','3','4'] %>
    <%= f.association :semester, label: 'Semester' %>
    <%= f.input :category, label: 'Kategori', collection: ['Umum', 'Pilihan'] %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
