<%= simple_form_for([:admin, @studiyear]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label:'Tahun Ajaran', placeholder:'Misalnya 2000/2001' %>
    <%= f.input :even_odd, collection:['Ganjil', 'Genap'], label:'Ganjil atau Genap', include_blank: false %>
    <%= f.input :status, label: 'Status Aktif' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-success' %>&nbsp;&nbsp;<%= link_to 'Kembali', admin_studiyears_path, class: 'btn btn-default' %>
  </div>
<% end %>
