<% if @studiyears.present? %>
<div class="well">
  <h1 class="lead">Daftar Tahun Ajar&nbsp;&nbsp;<%= link_to 'Buat Tahun Ajaran', new_admin_studiyear_path, class:'btn btn-default' %></h1>

  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Tahun Ajar</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @studiyears.each do |studiyear| %>
        <tr>
          <td><%= studiyear.name %>&nbsp;&nbsp;<%= studiyear.even_odd %>&nbsp;&nbsp;<%= 'Aktif' if studiyear.status == true %></td>
          <td><%= link_to 'Edit', edit_admin_studiyear_path(studiyear), class:'btn btn-warning' %>&nbsp;&nbsp;<%= link_to 'Hapus', admin_studiyear_path(studiyear), method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>

<% else %>
<h3 class="lead">Maaf Data Belum Ada, Silahkan Datang Kembali..&nbsp;&nbsp;<%= link_to 'Buat Tahun Ajaran', new_admin_studiyear_path, class:'btn btn-default' %></h3>
<% end %>
