<% if @students_biographies.present? %>
<h3 class="lead">Daftar Nama Mahasiswa ISTPI Aktif&nbsp;&nbsp;<%= link_to 'Buat', new_students_biography_path, class: "btn btn-success" %>
</h3>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Nama Lengkap</th>
      <th>Stambuk</th>
      <th>Fakultas</th>
      <th>Jurusan</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @students_biographies.each do |students_biography| %>
      <tr>
        <td><%= students_biography.user.name rescue nil %></td>
        <td><%= students_biography.full_name %></td>
        <td><%= students_biography.stambuk %></td>
        <td><%= students_biography.fakultas %></td>
        <td><%= students_biography.jurusan %></td>
        <td><%= link_to 'Edit', edit_admin_students_biography_path(students_biography), class: 'btn btn-warning' %>&nbsp;&nbsp;<%= link_to 'Hapus', admin_students_biography_path(students_biography), method: :delete, data: { confirm: 'Anda yakin?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% else %>
<h3 class="lead">Maaf, Belum Ada Data Mahasiswa Silahkan Kembali Lain Waktu..</h3>
<% end %>
