<p id="notice"><%= notice %></p>

<h3 class="lead">Daftar Nama Mahasiswa ISTPI Aktif</h3>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Nama</th>
      <th>Stambuk</th>
      <th>Jenis kelamin</th>
      <th>Tempat, Tanggal Lahir</th>
      <th>Fakultas</th>
      <th>Jurusan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students_biographies.each do |students_biography| %>
      <tr>
        <td><%= link_to students_biography.name, students_biography %></td>
        <td><%= students_biography.stambuk %></td>
        <td><%= students_biography.jenis_kelamin %></td>
        <td><%= students_biography.tempat_lahir %>&nbsp; <%= students_biography.tanggal_lahir %></td>
        <td><%= students_biography.fakultas %></td>
        <td><%= students_biography.jurusan %></td>
        <td><%= link_to 'Edit', edit_students_biography_path(students_biography) %></td>
        <td><%= link_to 'Hapus', students_biography, method: :delete, data: { confirm: 'Anda yakin?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if params[:action] == 'index' %>
<%= link_to 'Buat Data Mahasiswa', new_students_biography_path, class: "btn btn-success" %>
<% end %>
