<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @students_biography.name %>
</p>

<p>
  <strong>Stambuk:</strong>
  <%= @students_biography.stambuk %>
</p>

<p>
  <strong>Jenis kelamin:</strong>
  <%= @students_biography.jenis_kelamin %>
</p>

<p>
  <strong>Tempat lahir:</strong>
  <%= @students_biography.tempat_lahir %>
</p>

<p>
  <strong>Tanggal lahir:</strong>
  <%= @students_biography.tanggal_lahir %>
</p>

<p>
  <strong>Agama:</strong>
  <%= @students_biography.agama %>
</p>

<p>
  <strong>Alamat rumah rt:</strong>
  <%= @students_biography.alamat_rumah_rt %>
</p>

<p>
  <strong>Alamat rumah rw:</strong>
  <%= @students_biography.alamat_rumah_rw %>
</p>

<p>
  <strong>Alamat rumah kota:</strong>
  <%= @students_biography.alamat_rumah_kota %>
</p>

<p>
  <strong>Alamat rumah kabupaten:</strong>
  <%= @students_biography.alamat_rumah_kabupaten %>
</p>

<p>
  <strong>Alamat rumah kodepos:</strong>
  <%= @students_biography.alamat_rumah_kodepos %>
</p>

<p>
  <strong>Siswa no kontak:</strong>
  <%= @students_biography.siswa_no_kontak %>
</p>

<p>
  <strong>Siswa email:</strong>
  <%= @students_biography.siswa_email %>
</p>

<p>
  <strong>Ayah nama:</strong>
  <%= @students_biography.ayah_nama %>
</p>

<p>
  <strong>Ayah tempat lahir:</strong>
  <%= @students_biography.ayah_tempat_lahir %>
</p>

<p>
  <strong>Ayah tanggal lahir:</strong>
  <%= @students_biography.ayah_tanggal_lahir %>
</p>

<p>
  <strong>Ayah no kontak:</strong>
  <%= @students_biography.ayah_no_kontak %>
</p>

<p>
  <strong>Ayah alamat rt:</strong>
  <%= @students_biography.ayah_alamat_rt %>
</p>

<p>
  <strong>Ayah alamat rw:</strong>
  <%= @students_biography.ayah_alamat_rw %>
</p>

<p>
  <strong>Ayah alamat kota:</strong>
  <%= @students_biography.ayah_alamat_kota %>
</p>

<p>
  <strong>Ayah alamat kabupaten:</strong>
  <%= @students_biography.ayah_alamat_kabupaten %>
</p>

<p>
  <strong>Ayah alamat kodepos:</strong>
  <%= @students_biography.ayah_alamat_kodepos %>
</p>

<p>
  <strong>Ayah pendidikan terakhir:</strong>
  <%= @students_biography.ayah_pendidikan_terakhir %>
</p>

<p>
  <strong>Ayah pekerjaan:</strong>
  <%= @students_biography.ayah_pekerjaan %>
</p>

<p>
  <strong>Ibu nama:</strong>
  <%= @students_biography.ibu_nama %>
</p>

<p>
  <strong>Ibu tempat lahir:</strong>
  <%= @students_biography.ibu_tempat_lahir %>
</p>

<p>
  <strong>Ibu tanggal lahir:</strong>
  <%= @students_biography.ibu_tanggal_lahir %>
</p>

<p>
  <strong>Ibu no kontak:</strong>
  <%= @students_biography.ibu_no_kontak %>
</p>

<p>
  <strong>Ibu alamat rt:</strong>
  <%= @students_biography.ibu_alamat_rt %>
</p>

<p>
  <strong>Ibu alamat rw:</strong>
  <%= @students_biography.ibu_alamat_rw %>
</p>

<p>
  <strong>Ibu alamat kota:</strong>
  <%= @students_biography.ibu_alamat_kota %>
</p>

<p>
  <strong>Ibu alamat kabupaten:</strong>
  <%= @students_biography.ibu_alamat_kabupaten %>
</p>

<p>
  <strong>Ibu alamat kodepos:</strong>
  <%= @students_biography.ibu_alamat_kodepos %>
</p>

<p>
  <strong>Ibu pendidikan terakhir:</strong>
  <%= @students_biography.ibu_pendidikan_terakhir %>
</p>

<p>
  <strong>Ibu pekerjaan:</strong>
  <%= @students_biography.ibu_pekerjaan %>
</p>

<p>
  <strong>Wali nama:</strong>
  <%= @students_biography.wali_nama %>
</p>

<p>
  <strong>Wali tempat lahir:</strong>
  <%= @students_biography.wali_tempat_lahir %>
</p>

<p>
  <strong>Wali tanggal lahir:</strong>
  <%= @students_biography.wali_tanggal_lahir %>
</p>

<p>
  <strong>Wali no kontak:</strong>
  <%= @students_biography.wali_no_kontak %>
</p>

<p>
  <strong>Wali alamat rt:</strong>
  <%= @students_biography.wali_alamat_rt %>
</p>

<p>
  <strong>Wali alamat rw:</strong>
  <%= @students_biography.wali_alamat_rw %>
</p>

<p>
  <strong>Wali alamat kota:</strong>
  <%= @students_biography.wali_alamat_kota %>
</p>

<p>
  <strong>Wali alamat kabupaten:</strong>
  <%= @students_biography.wali_alamat_kabupaten %>
</p>

<p>
  <strong>Wali alamat kodepos:</strong>
  <%= @students_biography.wali_alamat_kodepos %>
</p>

<p>
  <strong>Wali pendidikan terakhir:</strong>
  <%= @students_biography.wali_pendidikan_terakhir %>
</p>

<p>
  <strong>Wali pekerjaan:</strong>
  <%= @students_biography.wali_pekerjaan %>
</p>

<p>
  <strong>Fakultas:</strong>
  <%= @students_biography.fakultas %>
</p>

<p>
  <strong>Jurusan:</strong>
  <%= @students_biography.jurusan %>
</p>

<p>
  <strong>Sekolah sd:</strong>
  <%= @students_biography.sekolah_sd %>
</p>

<p>
  <strong>Sekolah sd tahun lulus:</strong>
  <%= @students_biography.sekolah_sd_tahun_lulus %>
</p>

<p>
  <strong>Sekolah smp tahun lulus:</strong>
  <%= @students_biography.sekolah_smp_tahun_lulus %>
</p>

<p>
  <strong>Sekolah smu tahun lulus:</strong>
  <%= @students_biography.sekolah_smu_tahun_lulus %>
</p>

<p>
  <strong>Perguruan tinggi asal:</strong>
  <%= @students_biography.perguruan_tinggi_asal %>
</p>

<p>
  <strong>Perguruan tinggi asal tahun terakhir:</strong>
  <%= @students_biography.perguruan_tinggi_asal_tahun_terakhir %>
</p>

<%= link_to 'Edit', edit_students_biography_path(@students_biography) %> |
<%= link_to 'Back', students_biographies_path %>
