<%= simple_form_for(@registration) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nama %>
    <%= f.input :tempat_lahir %>
    <%= f.input :tanggal_lahir %>
    <%= f.input :jenis_kelamin %>
    <%= f.input :alamat %>
    <%= f.input :kontak_person %>
    <%= f.input :asal_sekolah %>
    <%= f.input :tahun_lulus %>
    <%= f.input :fakultas_peminat %>
    <%= f.input :jurusan_peminat %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
