<% if @registrations.present? %>
<h3 class="lead">Daftar Calon Mahasiswa Baru,&nbsp;&nbsp;<%= link_to "Daftar Sekarang",new_calon_mahasiswa_path, class: 'btn btn-danger btn_title' %></h3>

<table class= "table table-hover table-striped">
  <thead>
    <tr>
      <th>Kode Formulir</th>
      <th>Nama</th>
      <th>Gender</th>
      <th>Tempat, Tanggal Lahir</th>
      <th>No. Kontak</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to registration.kode_formulir, calon_mahasiswa_path(registration) %></td>
        <td><%= registration.nama.titlecase %></td>
        <td><%= registration.jenis_kelamin %></td>
        <td><%= registration.tempat_lahir.titleize %>, &nbsp;<%= registration.tanggal_lahir %></td>
        <td><%= registration.kontak_person %></td>
        <td><%= registration.jurusan_peminat %></td>
        <td>
          <%= link_to "cetak", calon_mahasiswa_download_pdf_path(:nama => registration.nama, format: 'pdf'), target: '_blank', class: 'btn btn-default' %>
        </td>

      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @registrations, :previous_label => '&laquo;', :next_label => '&raquo;', renderer: BootstrapPagination::Rails %>
<br>
<% else %>
<h3 class="lead">Maaf Tidak Ada Data Yang Bisa Ditampilkan, Silahkan Cek Kembali Lain Waktu..</h3>
<% end %>
