<h3 class="lead">Daftar Calon Mahasiswa Baru</h3>

<table class= "table table-hover table-striped">
  <thead>
    <tr>
      <th>Kode Formulir</th>
      <th>Nama</th>
      <th>Jenis Kelamin</th>
      <th>TTL</th>
      <th>Program Studi Pilihan</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to "#{registration.kode_formulir}", registration %></td>
        <td><%= registration.nama %></td>
        <td><%= registration.jenis_kelamin %></td>
        <td><%= registration.tempat_lahir %>, &nbsp;<%= registration.tanggal_lahir %></td>
        <td><%= registration.kontak_person %></td>
        <td><%= registration.jurusan_peminat %></td>
        <td><%= link_to "cetak", download_pdf_path(:id => registration.id, format: 'pdf'), target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
