<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Info Calon Mahasiswa</h3>
  </div>
    <ul class="list-group">
        <li class="list-group-item"><strong>Kode Formulir</strong>&nbsp;:&nbsp;<%= "MABA#{@registration.kode_formulir}" %></li>
        <li class="list-group-item"><strong>Nama</strong>&nbsp;:&nbsp;<%= raw(@registration.nama) %></li>
        <li class="list-group-item"><strong>TTL</strong>&nbsp;:&nbsp;<%= raw(@registration.tempat_lahir) %>,&nbsp;<%= @registration.tanggal_lahir %></li>
        <li class="list-group-item"><strong>Alamat</strong>&nbsp;:&nbsp;<%= @registration.alamat %></li>
        <li class="list-group-item"><strong>Kontak Person</strong>&nbsp;:&nbsp;<%= @registration.kontak_person %></li>
        <li class="list-group-item"><strong>Asal Sekolah</strong>&nbsp;:&nbsp;<%= @registration.asal_sekolah %></li>
        <li class="list-group-item"><strong>Tahun Lulus</strong>&nbsp;:&nbsp;<%= @registration.tahun_lulus %></li>
        <li class="list-group-item"><strong>Jurusan Pilhan</strong>&nbsp;:&nbsp;<%= @registration.jurusan_peminat %></li>
    </ul>
  <div class="panel-footer">
    <%= link_to 'Kembali', registrations_path, class:"btn btn-success" %>
    <%= link_to 'Cetak', registration_path(@registration, format: 'pdf'), class:"btn btn-primary", target:"_blank" %>
  </div>
</div>
