<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Info Calon Mahasiswa</h3>
  </div>
    <ul class="list-group">
        <li class="list-group-item"><strong>Kode Formulir</strong>&nbsp;:&nbsp;<%= "#{@registration.kode_formulir}" %></li>
        <li class="list-group-item"><strong>Nama</strong>&nbsp;:&nbsp;<%= @registration.nama.titleize %></li>
        <li class="list-group-item"><strong>Tempat, Tanggal Lahir</strong>&nbsp;:&nbsp;<%= @registration.tempat_lahir.titleize %>,&nbsp;<%= @registration.tanggal_lahir %></li>
        <li class="list-group-item"><strong>Alamat</strong>&nbsp;:&nbsp;<%= @registration.alamat %></li>
        <li class="list-group-item"><strong>Kontak Person</strong>&nbsp;:&nbsp;<%= @registration.kontak_person %></li>
        <li class="list-group-item"><strong>Asal Sekolah</strong>&nbsp;:&nbsp;<%= @registration.asal_sekolah.titleize %></li>
        <li class="list-group-item"><strong>Tahun Lulus</strong>&nbsp;:&nbsp;<%= @registration.tahun_lulus %></li>
        <li class="list-group-item"><strong>Jurusan Pilhan</strong>&nbsp;:&nbsp;<%= @registration.jurusan_peminat %></li>
    </ul>
  <div class="panel-footer">
    <%= link_to 'Kembali', calon_mahasiswa_index_path, class:"btn btn-success" %>
    <td>
      <%#= link_to "cetak", calon_mahasiswa_download_pdf_path(:nama => @registration.nama, format: 'pdf'), target: '_blank', class: "btn btn-primary" %>
      <%= link_to 'Cetak', calon_mahasiswa_download_pdf_path(:nama => @registration.nama, format: 'pdf'), class:"btn btn-primary", target:"_blank" %>
    </td>

  </div>
</div>
