<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a class="navbar-brand" href="#"></a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="<%= params[:controller]== 'pages' && params[:action]== 'index' ? 'active' : '' %>"><%= link_to "Beranda", root_url %></li>
        <li class="<%= params[:controller]== 'students_biographies' ? 'active' : '' %>"><%= link_to "Mahasiswa", students_biographies_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Perkuliahan <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Aturan", "#" %></li>
            <li><%= link_to "Jadwal", "#" %></li>
            <li><%= link_to "Nilai", "#" %></li>
            <li><%= link_to "Penasehat Akademik", "#" %></li>
            <li><%= link_to "Dosen", lectures_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Biro Akademik<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="<%= params[:controller] == 'registrations' ? 'active' : '' %>"><%= link_to "Calon Mahasiswa", registrations_path %></li>
            <li ><%= link_to "Buku Induk", registrations_path %></li>
            <li ><%= link_to "Kalender Akademik", '#' %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Biro Umum<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li ><%= link_to "Program Kerja", '#' %></li>
            <li class="<%= params[:controller] == 'functional_structurals' ? 'active' : '' %>"><%= link_to "Struktural", functional_structurals_path %></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Persuratan<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="<%= params[:controller]== 'incomings' ? 'active' : '' %>"><%= link_to "Surat Masuk", incoming_mails_path %></li>
            <li class="<%= params[:controller]== 'outcomings' ? 'active' : '' %>"><%= link_to "Surat Keluar", outcoming_mails_path %></li>
          </ul>
        </li>
        <li ><%= link_to "Perpustakaan", '#' %></li>
        <li ><%= link_to "Keuangan", '#' %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
          <li><%= link_to "Edit Profile", edit_admin_user_path(current_user) %></li>
          <li><%= link_to "Sign out", admin_logout_path %></li>
        <% else %>
          <li><%= link_to "Sign up", new_admin_user_path %></li>
          <li><%= link_to "Sign in", admin_login_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
