<p><strong><u>&nbsp;</u></strong></p>
<p>&nbsp;</p>
<p>SURAT KEPUTUSAN</p>
<p>INSTITUT SAINS DAN TEKNOLOGI PEMBANGUNAN INDONESIA</p>
<p>Nomor :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /SK/IST-PI/IX/2016</p>
<p>&nbsp;</p>
<p>TENTANG</p>
<p>PENGANGKATAN DOSEN PENGAMPUH MATA KULIAH</p>
<p>SEMESTER GANJIL TAHUN AKADEMIK 2016/2017</p>
<p>&nbsp;</p>
<p>Menimbang:</p>
<ol>
<li>Bahwa untuk kelancaran pelaksanaan kuliah semester ganjil tahun akademik 2016/2017, maka dipandang perlu mengangkat dosen pengampuh mata kuliah.</li>
<li>Bahwa untuk tujuan tersebut di atas, maka dipandang perlu menerbitkan surat keputusan pengangkatan dosen pengampuh mata kuliah.</li>
<li>Bahwa yang tersebut namanya dalam surat keputusan ini dianggap mampu menjalankan tugas sebagai dosen pengampuh mata kuliah yang dibebankan.</li>
</ol>
<p>Mengingat:</p>
<ol>
<li>Undang-undang No. 20 tahun 2003 tentang sistim pendidikan nasional</li>
<li>Peraturan pemerintah No. 60 tahun 1999 tentang Pendidikan Tinggi</li>
<li>Statuta IST-Pembangunan Indonesia Makassar</li>
</ol>
<p>&nbsp;</p>
<p>MEMUTUSKAN</p>
<p>Menetapkan:</p>
<p>1. Pertama&nbsp;:</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Mengangkat Saudar (i) : <strong>Dian Mahdiansyah, S.Pd, M.T, </strong>untuk mengampuh mata kuliah semester ganjil tahun akademik 2016/2017 (Nama mata kuliah dan waktu terlampir)</p>
<p>2. Kedua :</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Segala hal yang berhubungan dengan pengangkatan dosen pengampuh mata kuliah dibebankan kepada IST-Pembangunan Indonesia Makassar.</p>
<p>3.&nbsp;Ketiga :</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Surat keputusan ini mulai berlaku pada tanggal ditetapkannya, dan apabila terdapat kekeliruan dalam keputusan ini maka akan diperbaiki sebagaimana mestinya.</p>
<table style="height: 211px; width: 282px;">
<tbody>
<tr style="height: 177px;">
<td style="width: 272px; height: 177px;">
<p>Ditetapkan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Di Makassar</p>
<p>Pada Tanggal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1 September 2016</p>
<p>Pembantu Rektor I</p>
<p>IST-Pembangunan Indonesia</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>IR. A. Arifuddin Iskandar, MP</p>
</td>
</tr>
</tbody>
</table>
<p>&nbsp;<u>Tembusan :</u></p>
<ol>
<li>Ketua Yayasan YASPI Makassar</li>
<li>Dekan Teknik IST-Pembangunan Indonesia</li>
<li>Ketua &ndash;ketua Prodi IST-Pembangunan Indonesia</li>
<li>Arsip</li>
</ol>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Lampiran : SK No.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; /SK/IST-PI/IX/2016, tentang pengangkata Dosen Pengampuh Mata Kuliah Semester ganjil TA 2016/2017 atas nama:</p>
<p>&nbsp;</p>
<p><strong>JADWAL PERKULIAHAN IST-PI MAKASSAR, SEMESTER GANJIL TA. 2016/2017</strong></p>
<p><strong>&nbsp;</strong></p>
<table style="width: 713px;">
<tbody>
<tr>
<td style="width: 24px;">
<p><strong>&nbsp;No</strong></p>
</td>
<td style="width: 82px;">
<p style="text-align: center;"><strong>&nbsp;Hari</strong></p>
</td>
<td style="width: 102px;">
<p style="text-align: center;"><strong>Waktu</strong></p>
</td>
<td style="width: 206px; text-align: center;">
<p><strong>Mata Kuliah</strong></p>
</td>
<td style="width: 36px; text-align: center;">
<p><strong>&nbsp;SKS</strong></p>
</td>
<td style="width: 58px; text-align: center;">
<p><strong>&nbsp;SMTR</strong></p>
</td>
<td style="width: 77px; text-align: center;">
<p><strong>RUANG</strong></p>
</td>
<td style="width: 124px;">
<p style="text-align: center;"><strong>&nbsp;PRODI</strong></p>
</td>
</tr>
<tr>
<td style="width: 24px;">
<p><strong>&nbsp;</strong></p>
</td>
<td style="width: 82px;">
<p><strong>&nbsp;</strong></p>
</td>
<td style="width: 102px;">
<p><strong>&nbsp;</strong></p>
</td>
<td style="width: 206px;">
<p><strong>&nbsp;</strong></p>
</td>
<td style="width: 36px;">
<p><strong>&nbsp;</strong></p>
</td>
<td style="width: 58px;">
<p><strong>&nbsp;</strong></p>
</td>
<td style="width: 77px;">
<p><strong>&nbsp;</strong></p>
</td>
<td style="width: 124px;">
<p><strong>&nbsp;</strong></p>
</td>
</tr>
</tbody>
</table>
<p><strong>&nbsp;</strong></p>
<p>Makassar, 1 September 2016</p>
<p>IST-Pembangunan Indonesia</p>
<p>Pembantu Rektor I</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Ir. A. Arifuddin Iskandar, MP</p>
<p>&nbsp;</p>
<p><em><u>Catatan:</u></em></p>
<p><em>Diminta agar menyampaikan Rencana Pembelajaran Semester (RPS) dan Satuan Acara Perkuliahan (SAP) kepada Prodi masing &ndash; masing sebelum perkuliahan dimulai.</em></p>

<h3 class='lead'><%= @title %></h3>
<div class="panel-body">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th>Hari</th>
            <th>Waktu</th>
            <th>Mata Kuliah</th>
            <th>Dosen</th>
            <th>Ruangan</th>
          </tr>
        </thead>

        <tbody>
          <% @electricalschedulesubjects.each do |electricalschedulesubject| %>
            <tr>
              <td><%= electricalschedulesubject.day %></td>
              <td><%= electricalschedulesubject.classtime.time rescue nil %></td>
              <td><%= electricalschedulesubject.electrical_subject.name.titleize rescue nil %></td>
              <td><%= electricalschedulesubject.lecture1.name rescue nil %></td>
              <td><%= electricalschedulesubject.classroom.room.upcase rescue nil  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    </div>

  </div>
