<div class="container-fluid">
  <div class="row">
    <p id="notice"><%= notice %></p>

    <h1>Daftar Buku Induk</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Stambuk</th>
          <th>Nama</th>
          <th>Jenis kelamin</th>
          <th>Tempat lahir</th>
          <th>Tanggal lahir</th>
          <th>Tanggal akademik</th>
          <th>Status akademik</th>
          <th>Semester akademik</th>
          <th>Foto</th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @buku_induks.each do |buku_induk| %>
          <tr>
            <td><%= link_to buku_induk.no_stambuk, buku_induk %></td>
            <td><%= buku_induk.nama %></td>
            <td><%= buku_induk.jenis_kelamin %></td>
            <td><%= buku_induk.tempat_lahir %></td>
            <td><%= buku_induk.tanggal_lahir %></td>
            <td><%= buku_induk.tanggal_akademik %></td>
            <td><%= buku_induk.status_akademik %></td>
            <td><%= buku_induk.semester_akademik %></td>
            <td><%= buku_induk.foto %></td>

            <td><%= link_to 'Edit', edit_buku_induk_path(buku_induk) %></td>
            <td><%= link_to 'Hapus', buku_induk, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Buku induk', new_buku_induk_path, class: "btn btn-default" %>

  </div>
</div>
