<p id="notice"><%= notice %></p>

<p>
  <strong>No stambuk:</strong>
  <%= @buku_induk.no_stambuk %>
</p>

<p>
  <strong>Nama:</strong>
  <%= @buku_induk.nama %>
</p>

<p>
  <strong>Jenis kelamin:</strong>
  <%= @buku_induk.jenis_kelamin %>
</p>

<p>
  <strong>Tempat lahir:</strong>
  <%= @buku_induk.tempat_lahir %>
</p>

<p>
  <strong>Tanggal lahir:</strong>
  <%= @buku_induk.tanggal_lahir %>
</p>

<p>
  <strong>Bangsa:</strong>
  <%= @buku_induk.bangsa %>
</p>

<p>
  <strong>Agama:</strong>
  <%= @buku_induk.agama %>
</p>

<p>
  <strong>Alamat:</strong>
  <%= @buku_induk.alamat %>
</p>

<p>
  <strong>Ijazah terakhir:</strong>
  <%= @buku_induk.ijazah_terakhir %>
</p>

<p>
  <strong>Nama ayah:</strong>
  <%= @buku_induk.nama_ayah %>
</p>

<p>
  <strong>Nama ibu:</strong>
  <%= @buku_induk.nama_ibu %>
</p>

<p>
  <strong>Nama wali:</strong>
  <%= @buku_induk.nama_wali %>
</p>

<p>
  <strong>Pekerjaan orangtua wali:</strong>
  <%= @buku_induk.pekerjaan_orangtua_wali %>
</p>

<p>
  <strong>Tanggal akademik:</strong>
  <%= @buku_induk.tanggal_akademik %>
</p>

<p>
  <strong>Status akademik:</strong>
  <%= @buku_induk.status_akademik %>
</p>

<p>
  <strong>Semester akademik:</strong>
  <%= @buku_induk.semester_akademik %>
</p>

<p>
  <strong>Foto:</strong>
  <%= @buku_induk.foto %>
</p>

<%= link_to 'Back', buku_induks_path %>
