<p id="notice"><%= notice %></p>

<h1>Listing Studiyears</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studiyears.each do |studiyear| %>
      <tr>
        <td><%= studiyear.name %></td>
        <td><%= link_to 'Show', studiyear %></td>
        <td><%= link_to 'Edit', edit_studiyear_path(studiyear) %></td>
        <td><%= link_to 'Destroy', studiyear, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studiyear', new_studiyear_path %>
