<% if @electrical_subjects.present?  %>
<h1 class="lead">Kurikulum Teknik Elektro ISTPI&nbsp;&nbsp;<%= link_to 'Buat Mata Kuliah', new_admin_electrical_subject_path, class: 'btn btn-default' %></h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Kode</th>
      <th>Nama</th>
      <th>SKS</th>
      <th>Semester</th>
      <th>Kategori</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @electrical_subjects.each do |electrical_subject| %>
      <tr>
        <td><%= electrical_subject.code %></td>
        <td><%= electrical_subject.name.titleize if electrical_subject %></td>
        <td><%= electrical_subject.credit %></td>
        <td><%= electrical_subject.semester.name %></td>
        <td><%= electrical_subject.category %></td>
        <td><%= link_to 'Edit', edit_admin_electrical_subject_path(electrical_subject), class: 'btn btn-warning' %>&nbsp;<%= link_to 'Hapus', admin_electrical_subject_path(electrical_subject), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<h3 class="lead">Maaf Data Belum Ada, &nbsp;&nbsp;<%= link_to 'Buat Mata Kuliah', new_admin_electrical_subject_path, class: 'btn btn-default' %></h3>
<% end %>
