<p id="notice"><%= notice %></p>

<h1>Listing Electrical Subjects</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Credit</th>
      <th>Code</th>
      <th>Category</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @electrical_subjects.each do |electrical_subject| %>
      <tr>
        <td><%= electrical_subject.name %></td>
        <td><%= electrical_subject.credit %></td>
        <td><%= electrical_subject.code %></td>
        <td><%= electrical_subject.category %></td>
        <td><%= electrical_subject.semester %></td>
        <td><%= link_to 'Show', electrical_subject %></td>
        <td><%= link_to 'Edit', edit_electrical_subject_path(electrical_subject) %></td>
        <td><%= link_to 'Destroy', electrical_subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Electrical subject', new_electrical_subject_path %>
