
<% if @electrical_subjects.present?  %>
<h1 class="lead">Kurikulum Teknik Elektro ISTPI</h1>
<div class="panel panel-default">
  <div class="panel-title pull-right">
    <%= render 'shared/search' %>
  </div>
  <div class="panel-body">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Kode</th>
              <th>Nama</th>
              <th>SKS</th>
              <th>Semester</th>
              <th>Kategori</th>

            </tr>
          </thead>

          <tbody>
            <% @electrical_subjects.each do |electrical_subject| %>
              <tr>
                <td><%= electrical_subject.code.upcase %></td>
                <td><%= electrical_subject.name.titleize if electrical_subject %></td>
                <td><%= electrical_subject.credit %></td>
                <td><%= electrical_subject.semester.name %></td>
                <td><%= electrical_subject.category %></td>

              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
      </div>
    </div>
<% else %>
<h3 class="lead">Maaf Data Belum Ada, Silahkan Datang Kembali</h3>
<% end %>
