<% if @registrations.present? %>
<h3 class="lead">Daftar Calon Mahasiswa Baru</h3>

<table class= "table table-hover table-striped">
  <thead>
    <tr>
      <th>Kode Formulir</th>
      <th>Nama</th>
      <th>Jenis Kelamin</th>
      <th>TTL</th>
      <th>No. Kontak</th>
      <th>Program Studi Pilihan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @registrations.each do |registration| %>
      <tr>
        <td><%= link_to registration.kode_formulir, admin_calon_mahasiswa_path(registration) %></td>
        <td><%= registration.nama.titlecase %></td>
        <td><%= registration.jenis_kelamin %></td>
        <td><%= registration.tempat_lahir %>, &nbsp;<%= registration.tanggal_lahir %></td>
        <td><%= registration.kontak_person %></td>
        <td><%= registration.jurusan_peminat %></td>
        <td><%= link_to "Edit", admin_edit_calon_mahasiswa_path(registration) %></td>
        <td><%= link_to "Hapus", admin_delete_calon_mahasiswa_path(registration), method: :delete, data:{confirm: "Hapus Calon Mahasiswa?"} %></td>
        <td><%= link_to "cetak", admin_calon_mahasiswa_download_pdf_path(:nama => registration.nama, format: 'pdf'), target: '_blank' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% else %>
<h3 class="lead">Maaf Tidak Ada Data Yang Bisa Ditampilkan, Silahkan Cek Kembali Lain Waktu..</h3>
<% end %>
