<div class="well">
  <h3 class="lead">Daftar Calon Mahasiswa Baru &nbsp; <%= link_to 'Buat Calon Mahasiswa', new_registration_path, class: "btn btn-success" %></h3>

  <table class= "table table-hover table-striped">
    <thead>
      <tr>
        <th>Kode Formulir</th>
        <th>Nama</th>
        <th>Jenis Kelamin</th>
        <th>TTL</th>
        <th>Program Studi Pilihan</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @registrations.each do |registration| %>
        <tr>
          <td><%= "MABA#{registration.kode_formulir}"%></td>
          <td><%= registration.nama %></td>
          <td><%= registration.jenis_kelamin %></td>
          <td><%= registration.tempat_lahir %>, &nbsp;<%= registration.tanggal_lahir %></td>
          <td><%= registration.kontak_person %></td>
          <td><%= registration.referal %></td>
          <td><%= link_to "Edit", edit_admin_registration_path(registration) %></td>
          <td><%=  link_to "Cetak", "#"%></td>
          <td><%= link_to "Hapus", admin_registration_path(registration), method: :delete, data:{confirm: "Hapus Calon Mahasiswa?"} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>



</div>
