<div class="well">
  <% if @registrations.present? %>
  <h3 class="lead">Daftar Calon Mahasiswa Baru&nbsp;&nbsp;<%= link_to 'Buat', admin_new_calon_mahasiswa_path, class: 'btn btn-success' %></h3>

  <table class= "table table-hover table-striped">
    <thead>
      <tr>
        <th>Kode Formulir</th>
        <th>Nama</th>
        <th>Gender</th>
        <th>TTL</th>
        <th>No.Kontak</th>
        <th>Program Studi</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @registrations.each do |registration| %>
        <tr>
          <td><%= link_to registration.kode_formulir, admin_calon_mahasiswa_path(registration) %></td>
          <td><%= registration.nama.titlecase %></td>
          <td><%= registration.jenis_kelamin %></td>
          <td><%= registration.tempat_lahir.titlecase %>, &nbsp;<%= registration.tanggal_lahir %></td>
          <td><%= registration.kontak_person %></td>
          <td><%= registration.jurusan_peminat %></td>
          <td>
            <%= link_to "e", admin_edit_calon_mahasiswa_path(registration), class: 'btn btn-warning' %>
            <%= link_to "x", admin_delete_calon_mahasiswa_path(registration), method: :delete, data:{confirm: "Hapus Calon Mahasiswa?"}, class: 'btn btn-danger' %>
            <%= link_to "p", admin_calon_mahasiswa_download_pdf_path(:nama => registration.nama, format: 'pdf'), target: '_blank', class: 'btn btn-primary' %>
            <%= link_to "v", ok_mahasiswa_admin_registrations_path(registration), class: "btn btn-success", target: '_blank' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @registrations, :previous_label => '&laquo;', :next_label => '&raquo;', renderer: BootstrapPagination::Rails %>
  <br>
  <% else %>
  <h3 class="lead">Maaf Tidak Ada Data Yang Bisa Ditampilkan, Silahkan Cek Kembali Lain Waktu..&nbsp;&nbsp;<%= link_to 'Buat', admin_new_calon_mahasiswa_path, class: 'btn btn-success' %></h3>
  <% end %>

</div>
