<p>
  <strong>Electrical subject:</strong>
  <%= @electricalschedulesubject.electrical_subject_id %>
</p>

<p>
  <strong>Lecture1:</strong>
  <%= @electricalschedulesubject.lecture1_id %>
</p>

<p>
  <strong>Lecture2:</strong>
  <%= @electricalschedulesubject.lecture2_id %>
</p>

<p>
  <strong>Lecture3:</strong>
  <%= @electricalschedulesubject.lecture3_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @electricalschedulesubject.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @electricalschedulesubject.classtime_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @electricalschedulesubject.studiyear_id %>
</p>

<p>
  <strong>Room:</strong>
  <%= @electricalschedulesubject.classroom_id %>
</p>

<p>
  <strong>Count:</strong>
  <%= @electricalschedulesubject.count %>
</p>

<%= link_to 'Edit', edit_electricalschedulesubject_path(@electricalschedulesubject) %> |
<%= link_to 'Back', electricalschedulesubjects_path %>
