<%= simple_form_for(@civilschedulesubject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :civil_subject %>
    <%#= f.input :lecture1_id %>
    <%#= f.input :lecture2_id %>
    <%#= f.input :lecture3_id %>
    <%= f.input :day %>
    <%= f.association :classtime %>
    <%= f.association :studiyear %>
    <%= f.association :classroom %>
    <%= f.input :count %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
