<div class="head">
  <div class="col-sm-3 col-md-3">
      <%= image_tag("logo_istpi_copy.png", class:"jadwal_kuliah_pdf")%>
  </div>
  <div class="col-sm-9 col-md-9">
    <h5>YAYASAN PEMBANGUNAN INDONESIA MAKASSAR</h3>
    <h4>INSTITUT SAINS DAN TEKNOLOGI PEMBANGUNAN INDONESIA MAKASSAR</h3>
    <p><strong>Jl. Andi Pangerang Pettarani No.99 B, Makassar, 90222, www.ist-pi.com</strong></p>

  </div>
</div>
<br />
<h3 class='lead'><center><%= @title %></center></h3>
      <table class="table table-bordered table-hover table-striped table-condensed">
        <thead>
          <tr class='small'>
            <th>Hari</th>
            <th>Waktu</th>
            <th>Mata Kuliah</th>
            <th>Dosen</th>
            <th>Ruangan</th>
          </tr>
        </thead>

        <tbody>
          <% @civilschedulesubjects.each do |civilschedulesubject| %>
            <tr class='small'>
              <td><%= civilschedulesubject.day %></td>
              <td><%= civilschedulesubject.classtime.time rescue nil %></td>
              <td><%= civilschedulesubject.civil_subject.name.titleize rescue nil %></td>
              <td><%= civilschedulesubject.lecture1.name rescue nil %></td>
              <td><%= civilschedulesubject.classroom.room.upcase rescue nil  %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>
      <div class="mengetahui">
        <p>Makassar, 24 September 2016</p>
        <p>Pembantu Rektor I</p>
        <br />
        <br />
        <br />
        <p>Ir. Arifuddin Iskandar, MP</p>

      </div>
